/* =============== Globals ============== */
* {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");


:root {
  --primary-color: #566b4a;
  --panel-color: #f4f4f4;
  --text-color: black;
  --black-light-color: #707070;
  --border-color: #ced2cb;
  --toggle-color: #DDD;
  --box1-color: #5fad61;
  --box2-color: #aef058fa;
  --box3-color: #ae2344;
  --title-icon-color: rgb(2, 2, 2);
  --section-color: rgba(241, 241, 241, 0.527);

}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--panel-color);

}

.container {
  position: relative;
  width: 100%;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(104, 83, 44, 0.1);

}


/* =============== Navigation ================ */



.logo-image {
  display: flex;
  /* Añadido para activar el centrado */
  align-items: center;
  /* Alinea verticalmente en el centro si el contenedor crece */
  justify-content: center;
  /* Centra la imagen horizontalmente */
  background-color: #566b4a;
  padding: 20px 0;
  /* Opcional: ajusta el espacio alrededor de la imagen */
}

.logo-image img {
  width: 180px;
  object-fit: cover;
}


.navigation {

  position: fixed;
  height: 100%;
  width: 300px;
  background: var(--primary-color);
  border-left: 16px solid var(--primary-color);
  transition: 0.7s;
  overflow: hidden;
}


.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;


}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;

}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--panel-color);
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--panel-color);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--primary-color);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--panel-color);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--panel-color);
  pointer-events: none;
}

#main-content {
  width: 100%;
  height: 100%;
  margin-left: 300px;
  /* Ajusta según el ancho de tu menú */
  padding: 10px;
  width: calc(100% - 300px);
  /* Asegura que el contenido se ajuste al espacio restante */
  transition: margin-left 0.3s;
  box-sizing: border-box;

}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  /* Centrado del icono dentro del contenedor */
  align-items: center;
  position: absolute;
  /* Si quieres que esté fijo a la derecha */
  right: 10px;
  /* Ajusta este valor según necesites */
}

h1,
p {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

